<!DOCTYPE html>
<html>
<head>
	<title>Growling</title>
</head>
<body>
	<h1 id="growl_head">Be the king of the jungle and growl!!!</h1>
	<form name="form_item" id="form_growl" action="/add_growl" method="post">
		<input type="text" placeholder="Growl" name="growl" id="growl">
		<input type="submit" value="Roar">
	</form>

</body>
</html>