<div class="row">
	<div class="col-xs-12">
		<h3 id="growl_head">Be the king of the jungle and growl!!!</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form name="form_item" id="form_growl" action="/add_growl" method="post">
			<input type="text" placeholder="Growl" name="growl" id="growl">
			<input type="submit" value="Roar" id="roar">
		</form>
	</div>
</div>
