<header>

<img id="header_img" src="/public/images/lion roar.jpg">

<audio autoplay>
	<source src="/public/sounds/Lion Growling-SoundBible.com-657113062.mp3" type="audio/mpeg">
</audio>

<h1 id="header_title">Bob's and Justin's Galactic Growler</h1>


</header>

<footer>


	<nav id="footer_navbar">
		<a class="footer_button" href="/views/add_growl">Growl</a>
		<a class="footer_button" href="/views/view_growls">Roars</a>
	</nav>


</footer>