	<img id="invalid_img" src="images/sleeping_lion.jpg">
	
	<audio autoplay>
		<source src="sounds/Kitten Meow-SoundBible.com-1295572573.mp3" type="audio/mpeg">
	</audio>

	<h1 id="invalid_head">Your Bark is Greater than Your Bite TRY AGAIN!!<br></h1>
	<h2 id="invalid_text">Think like an elephant and remember that Growls only have 142 characters or less</h2>
