<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>

<img id="header_img" src="images/lion roar.jpg">

<audio autoplay>
	<source src="sounds/Lion Growling-SoundBible.com-657113062.mp3" type="audio/mpeg">
</audio>

<h1 id="header_title">Bob's and Justin's Galactic Growler</h1>


</header>

	<%= yield %>

<footer>


	<nav id="footer_navbar">
		<a class="footer_button" href="add_growl">Growl</a>
		<a class="footer_button" href="view_growls">Roars</a>
	</nav>


</footer>	

</body>
</html>