<!DOCTYPE html>
<html>
<head>
	<title>Roars</title>
</head>
<body>

	<img id="invalid_img" src="/public/images/roars_img.jpg">
	
	<audio autoplay>
		<source src="/public/sounds/Tiger Growling-SoundBible.com-258880045.mp3" type="audio/mpeg">
	</audio>

		<h1 id="invalid_head">Your Total Number of Growls is <%= session[:roars].length  %><br> </h1>
		

</body>
</html>